<div class="text-layout">
  <h1>{{ "Hola mundo" | uppercase }}</h1>
  <button
    pButton
    type="button"
    label="Click"
    icon="pi pi-check"
    iconPos="right"
    class="p-button-help"
  ></button>
  <p-button label="Click"></p-button>

  <p-card header="Simple Card" subheader="SubHeader">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus,
    dignissimos, fugiat dolorum, quam iste assumenda vero nulla adipisci saepe
    ipsum aperiam quisquam. Libero repudiandae delectus nam animi. Voluptatum,
    sapiente autem.
  </p-card>
</div>
